[submodule "contracts/lib/chainlink"]
	path = contracts/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "contracts/lib/chainlink-evm"]
	path = contracts/lib/chainlink-evm
	url = https://github.com/smartcontractkit/chainlink-evm
